1.Load a DataFrame with information about sales transactions,
including 'Product', 'Quantity', and 'Price'.
Write a program to calculate the total revenue for each product.

In [ ]:
import pandas as pd
data = {'Product': ['Pen','Pencil', 'Eraser'],
        'Quantity': [10, 50, 20],
        'Price': [10, 5, 5]}
df = pd.DataFrame(data)
print(df)
df['Revanue'] = df['Quantity'] * df['Price']
print("\n", df)

  Product  Quantity  Price
0     Pen        10     10
1  Pencil        50      5
2  Eraser        20      5

   Product  Quantity  Price  Revanue
0     Pen        10     10      100
1  Pencil        50      5      250
2  Eraser        20      5      100

2. Load a DataFrame with information about customer orders,
including 'CustomerID', 'Product', and 'Quantity'. Write a program
to find the total quantity of each product ordered by each customer.

In [ ]:
import pandas as pd
data= {'Customer id': [1011, 1012, 1032, 1034],
       'product': ['Pen','Pencil', 'Eraser', 'Notebook'],
       'Quantity':[5, 9, 10,12]}
df = pd.DataFrame(data)
print("Information about customer orders", "\n",df)

Information about customer orders
    Customer id   product  Quantity
0         1011       Pen         5
1         1012    Pencil         9
2         1032    Eraser        10
3         1034  Notebook        12

3. Given a DataFrame with information about students,
including 'Name', 'Age', and 'Grade', write a program
to filter out students who are older than 20 and have a grade higher than 90.

In [ ]:
import pandas as pd
data={
    'Name':['Ravi','Lakshmi','Alice','Abhijit','Jerom','Parth','Vikash','Suraj'],
    'Age': [23, 15, 19, 25, 30, 23, 22, 24],
    'Grade': [95, 91, 50, 70, 97, 80, 60, 40]}
df = pd.DataFrame(data)
print("Information of Students", "\n", df, "\n\n\n")
print("Students who are older than 20 and have a grade higher than 90", "\n",
      df[(df['Age']> 20) & (df['Grade']>90)])

Information of Students
       Name  Age  Grade
0     Ravi   23     95
1  Lakshmi   15     91
2    Alice   19     50
3  Abhijit   25     70
4    Jerom   30     97
5    Parth   23     80
6   Vikash   22     60
7    Suraj   24     40



Students who are older than 20 and have a grade higher than 90
     Name  Age  Grade
0   Ravi   23     95
4  Jerom   30     97